 .Skills-Div{
        margin-top: 60px;
        height: 200px;
    }

    .Skills-Title{
        font-size: 28px;
        font-weight: 550;
        font-style: oblique;
        font-family: 'Inter', sans-serif;
    }
