 .Skills-Div{
        margin-top: 50px;
        height: 210px;
        margin-right: 15px;
        margin-left: 15px;
        border-radius: 8px;
        border: 3px solid #d5d5d3;
        margin-bottom: 60px;
    }

    .Skills-Title{
        font-size: 28px;
        font-weight: 550;
        font-style: oblique;
        font-family: 'Inter', sans-serif;
        margin-left: 20px;
        display: inline-block;
    }

    .Outline{
        background-color: #e0e0e0;
        height: 210px;
    }

    .Skills-Bubbles{
        display: flex;
        flex-direction: row;
        gap: 27px;
        margin-right: 200px;
        margin-left: 200px;
    }

    .Bubbles{
        flex: 1;
        margin-left: 45px;
        margin-top:  18px;
        font-size: 22px;
        font-weight: 300;
        background-color: #eeeeee;
        border: 1px solid black;
        border-radius: 6px;
        text-align: center;
        margin-right: 45px;
        padding-top: 10px;
        padding-bottom: 10px;

    }
    

/* DARK MODE CSS STARTS HERE, IMMA CP THIS ON THE OTHER FILES TOO */
    
    body.dark-mode .Skills-Div,
    body.dark-mode .Outline {
        background-color: #1e1e1e;
        border-color: #333333;
    }

    body.dark-mode .Bubbles {
        background-color: #2a2a2a;
        color: #ffffff;
        border-color: #444444;
    }